.buckingham{
width:50%;

}
body{
  width:100%;
  position:relative;
  background-image: url("../images/flag.jpeg");
}
.crownImage{
  width:75%;

}
#answers{
  height:200px;
  width:75%;
  background-color: white;
  position:absolute;
  padding-bottom: 20px;
  font-size: 18px;
  border-style: solid;
border-width: 0px 0px 55px;
-moz-border-image: url(queeny_final.png) 153 193 135 repeat;
-webkit-border-image: url(queeny_final.png) 153 193 135 repeat;
-o-border-image: url(queeny_final.png) 153 193 135 repeat;
border-image: url("../images/queeny_final.png") 153 193 135 fill repeat;
}
#question{
  height:50px;
  width:75%;
  background-color: white;
  text-decoration-color: black;
  text-align: center;
  margin: 0;
  line-height: 50px;
  font-size: 24px;
}
#countDown{
  height:50px;
  width:75%;
  background-color: white;
  text-align: center;
  line-height: 50px;
  border-style: solid;
border-width: 62px 0px 0px;
-moz-border-image: url(queeny_final.png) 151 193 121 192 repeat;
-webkit-border-image: url(queeny_final.png) 151 193 121 192 repeat;
-o-border-image: url(queeny_final.png) 151 193 121 192 repeat;
border-image: url("../images/queeny_final.png") 151 193 121 192 fill repeat;
}
h3{
  width:25%;
  text-align: center;
  background-color: white;
  height: 50px;
  line-height: 50px;
  position:relative;
  left: 320px;
  border: 5px firebrick solid;
}
ul{
  width:75%;
  position:absolute;
  left:250px;
  margin: 0 auto;
}
li{
  width:50%;
  height:40px;
  border: solid 2px white;
  margin:5px;
  text-align: center;
  background-color: firebrick;
  color: white;
  list-style: none;
  line-height: 40px;
  font-size: 24px;
}
.main{
  width:100%;
  margin: 0 auto;
  position:absolute;
  left:175px;
  display:none;
}
.start{
  width:25%;
  height:40px;
  position: absolute;
  top: 320px;
  left:525px;
  font-size:24px;
  font-weight: bold;
}
.gifs{
  width:25%;
  height: 75%;
  position:relative;
  top:25px;
  left:350px;
}
#answerScore{
  position:relative;
  /* left:25px; */
  text-align: center;
}
.replay{
  width:50%;
  height:40px;
  font-size:24px;
  font-weight: bold;
  position:absolute;
  top:150px;
  right:250px;
}
.correctAnswer{
  height:50px;
  width:100%;
}
#countDown{
  font-size: 24px;
}
#countDownNum{
  display:inline;
  font-size: 24px;
  font-weight: bold;
}
.scores{
  line-height: 35px;
  font-size: 24px;
}
